<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.git.mca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity2"
            android:label="Intents activity">
            <intent-filter>
                <action android:name="com.git.mca.activity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationView"
            android:label="Details of notification">
            <intent-filter>
                <action android:name="com.git.mca.activity2"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecyclerActivity"
            android:label="RecyclerView Example">
        </activity>

        <activity
            android:name=".PickerActivity"
            android:label="PickerActivity Example">
        </activity>

        <activity
            android:name=".AsyncTaskActivity"
            android:label="AsyncTask Example">
        </activity>
    </application>

</manifest>